@use "../../../assets/styles/mixins" as mixin;
.PageGlobale {
  height: 100vh;
  z-index: -2000;
  .UpdatePage {
    width: 500px;
    height: 90vh;
    position: absolute;
    left: 50%;
    top: 50%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas:
      "title"
      "form";
    transform: translate(-50%, -50%);
    box-shadow: var(--box-shadow-nav);
    background-color: rgb(234, 249, 249);
    border-radius: 20px;
    @include mixin.xs {
      width: 100%;
      height: 100vh;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 5fr;
      grid-template-areas:
        "title"
        "form";
    }
    .box_head {
      .title {
        position: relative;
        i {
          position: absolute;
          left: -7px;
          top: 2px;
        }
        h4 {
          text-align: center;
          margin-bottom: 20px;
        }
        p {
          font-size: 13px;
          margin-bottom: 20px;
        }
      }
    }
    .box_form {
      grid-area: form;
      .box_input {
        width: 100%;

        label {
          color: var(--neutral-2);
        }
        input {
          border: none;
          border-bottom: 1px solid var(--neutral-7);
          padding: 4px;
        }
        .box_password {
          position: relative;
          input {
            width: 100%;
          }

          i {
            position: absolute;
            color: var(--neutral-3);
            opacity: 0.3;

            top: 4px;
            right: 8px;
          }
        }
      }
    }
  }
  .valide_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: var(--neutral-2b);
    color: #8e8d38;
    z-index: 2000;
    .valide_box {
      width: 300px;
      height: auto;
      background-color: white;
      border-radius: 30px;
      position: relative;

      .valide_img2 {
        position: absolute;
        top: 60px;
      }
      p {
        color: var(--primary-2);
        font-weight: 700;
        font-size: 25px;
        text-align: center;
      }
    }
  }
}
